@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    color: white;
    box-sizing: border-box;
}

body{
    background-color: black;
}

nav{
    background-color: #621577;
}

.container{
    width: 100%;
    max-width: 1336px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.itens ul{
    display: flex;
}

.itens li{
    list-style: none;
    padding: 12px;
    color: white;
}

.itens a{
    text-decoration: none;
    color: black;
}

.itens li:hover{
    background-color: white;
    color: black;
    transition: all 0.4s;
}

.logo{
    display: flex;
    align-items: center;
    height: 80px;
}


.banner{
    background-image: url("../imagens/banner.jpg");
    background-size: cover;
    height: 600px;
    box-shadow: 0px 25px 10px rgb(20, 20, 20);
}

.opacity{
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}

.title{
    font-size: 60pt;
    text-align: center;
    margin-top: 60px;
}

.text1{
    margin-top: 60px;
    line-height: 25px;
}

.function h2{
    font-size: 50pt;
    margin-top: 115px;
}

.bar{
    height: 1348px;
    background-color: #8824a4;
    width: 10px;
    margin: auto;
    margin-top: 65px;
}

.rigth{
    float: right;
    width: 192px;
    height: 10px;
    background-color: #8824a4;
    margin-bottom: 224px;
}

.left{
    float: left;
    width: 192px;
    height: 10px;
    background-color: #8824a4;
    margin-bottom: 224px;
}

.precos{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.title_preco{
    font-size: 50pt;
    margin: auto;
    margin-top: 100px;
}

.preco_item{
    width: 242px;
    height: 299px;
    border: 3px solid #8824a4;
    margin-left: 105px;
    margin-right: 105px;
}

.name{
    height: 35px;
    border-bottom: 3px solid #8824a4;
    font-size: 20pt;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.risco_pos{
    width: 60px;
    height: 8px;
    background-color: red;
}

.item_preco{
    height: 52px;
    border-top: 3px solid #8824a4;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    line-height: 52px;
}

.button_saiba{
    height: 67px;
    border: 3px solid #8824a4;
    border-radius: 15px; 
    margin-top: 19px;
    text-align: center;
    line-height: 67px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.sobre_nos{
    margin-top: 180px;
    display: flex;
}

.sobre_img{
    margin-right: 40px;
    box-shadow: 0px 0px 48px #525252;
}

.sobre_text h2{
    font-size: 30pt;
    margin-bottom: 50px;
}

.sobre_text p{
    font-size: 16pt;
}

.button_sobre{
    height: 27px;
    border: 3px solid #8824a4;
    border-radius: 10px;
    width: 85px;
    padding: 2px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    cursor: pointer; 
}

.button_sobre a{
    text-decoration: none;
}

.rodape{
    width: 100%;
    height: 371px;
    background-color: rgb(39, 38, 38);
    margin-top: 100px;
}

.footerzao{
    display: flex;
    font-size: 16pt;
}

.quebra_branca{
    width: 1px;
    height: 120px;
    background-color: white;
}

.logo_footer{
    display: flex;
    align-items: center;
}

.logo_footer img{
    margin-right: 10px;
}

.text_footer{
    margin-top: 21px;
}

.middle_footer{
    line-height: 55px;
    margin-top: 60px;
}

.middle_contact{
    display: flex;
    flex-direction: column;
}

.middle_icons{
    margin-top: 10px;
}

.middle_icons img{
    width: 25px;
    height: 25px;
}

.mapinha{
    margin-top: 38px;
}